.cadastro-estagiario {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: skillFontNormal;
    font-weight: 50;
    flex-direction: column;
}

.cadastro-estagiario fieldset {
    width: 600px;
    height: 200px;
    border-radius: 20px;
}